<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      TODO Lists
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <h5 text-center *ngIf="cond">Nothing to do, please add a new task</h5>

    <ion-list *ngFor="let a of taskArray">
        <button ion-item (click)="onCilckButton()">
            <h1>{{ a.message }}</h1>
            <h3>{{ a.time }}, {{ a.date }} </h3> 
        </button>
            <!-- <ion-avatar>
                <ion-icon name="alarm"></ion-icon>
            </ion-avatar> -->          
                   
        
    </ion-list>
 
  <ion-fab bottom right>
    <button 
         ion-fab 
         [navPush]="newTaskPage"
         >
       <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
   
</ion-content>